@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pacifico: 'Pacifico', cursive;

}
.suez-regular {
  font-family: var(--font-suez-one), serif;
}

.pacifico-regular {
  font-family: var(--font-pacifico), cursive;
  font-weight: 400;
  font-style: normal;
}
